html,body
{
  border: none;
  margin: none;
  padding: none;
  background-color: #fef2d0;
}

#outercontainer
{
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 650px;
  min-height: 550px;
  border: none;
  margin: none;
  padding: none;
  background-color: #fef2d0;
}

#appcontainer
{
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  margin: none;
  padding: none;
  background-color: #fef2d0;
}

#svgcanvas
{
  position: absolute;
  border: 1px #cccccc;
  border-style: dashed;
  margin: none;
  padding: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.samplescontainer
{
  height: 100%;
  width: 100%;
  margin: none;
  padding: none;
  background: #fff7e1 !important;
}

.sampleslist
{
  height: 480px;
  width: 260px;
  margin: none;
  padding: none;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center !important;
  background: #fff7e1 !important;
}

.sampleslistitem
{
  width: 250px !important;
  margin: none;
  padding: none;
  overflow: hidden;
  text-align: center !important;
  background: #fff7e1 !important;
}

.samplesdescription
{
  width: 420px;
  height: 480px;
  margin: none;
  padding: 5px;;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff7e1 !important;
}

.samplesimage
{
  width: 200px;
  height: 150px;
  margin: none;
  padding: none;
  text-align: center !important;
}

.sampledescheading
{
  background-color: #fff7e1;
  color: #111133;
  font-size: 1.3em;
  font-weight: bold;
  text-align: left !important;
}

.sampledesctext
{
  background-color: #fff7e1;
  color: #111133;
  font-size: 1.1em;
  text-align: left !important;
}

.centertext
{
  text-align: center !important;
}

.lefttext
{
  text-align: left !important;
}

.cncmodalheader
{
  background-color: #111133;
  color: #ffffff;
  font-size: 1.5em;
}

.cncmodalbody
{
  background-color: #fff7e1;
  color: #111133;
  font-size: 1.3em;
}

.cncmodalfooter
{
  background-color: #111133;
  color: #ffffff;
}

.cncmodalcross
{
  color: #ffffff;
}

.cncmodalcross:hover
{
  color: #ff0000;
}

.cncnavbar
{
  background-color: #111133;
}

.gcodeerror
{
  color: #ff0000;
  font-weight: bold;
}

.navbarbrand
{
  color: #ffff00 !important;
  font-size: 1.5em !important;
}

.navbaritems
{
  color: #ffffff !important;
  font-size: 1em !important;
}

.navbardropdownitems
{
  font-size: 1em !important;
}

.svgimportcontrol
{
  font-size: 1em !important;
  background-color: #ffffff !important"
}
